@use "sass:meta";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @include meta.load-css("base");
  @include meta.load-css("fonts");
}

@layer components {
  @include meta.load-css("prose");
  @include meta.load-css("glass");
}

@layer utilities {
  @include meta.load-css("utilities");
}

@keyframes kofi-wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-10deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

.kofi-button {
  position: relative;
  bottom: 0;
  right: 0;
  margin-top: 10px;
  color: #fff !important;
  letter-spacing: -0.15px !important;
  text-wrap: none;
  vertical-align: middle;
  line-height: 33px !important;
  padding: 0;
  text-align: center;
  text-decoration: none !important;
  text-shadow: 0 1px 1px rgba(34, 34, 34, 0.05);
}

.kofi-button a:hover {
  color: #ccc !important;
  opacity: 1 !important;
  text-decoration: none !important;
}

.kofi-button img {
  height: 15px !important;
  width: 19px !important;
  display: initial;
}

// Add hover state animation
.kofi-button:hover img {
  animation: kofi-wiggle 0.5s ease-in-out;
}
