---
import Social from "@components/common/Social.astro";
---

<footer
  class="glass container lg:my-4 lg:rounded-lg intersect:animate-fadeUp opacity-0"
>
  <div class="row py-2 lg:py-0 items-center flex-wrap-reverse">
    <div class="text-center lg:col-6 lg:mb-0 lg:text-left">
      <ul>
        <li class="m-2 inline-block">
          <a href="/terms">&copy; Juno Threadborne 2025</a>
        </li>
      </ul>
    </div>
    <div
      class="text-center lg:col-6 lg:my-0 flex items-center justify-center lg:justify-end"
    >
      <div class="kofi-button">
        <a
          href="https://thrd.me/tip"
          type="button"
          class="text-white bg-[#3b5998] font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#3b5998]/55 me-2 mb-2"
        >
          <img
            src="https://storage.ko-fi.com/cdn/logomarkLogo.png"
            alt="Ko-fi donations"
          />
           &emsp;Fuel the Next Chapter
        </a>
      </div>
    </div>
  </div>
</footer>
